# Dependency directories
node_modules/
npm-debug.log

# next.js build output
.next

# typescript build output
dist

# pwa
sw.js
sw.js.*
workbox-*.js
workbox-*.js.*
pages/debug.tsx
/temp

pages/dev

patch/dist
tmp
out
release.zip

run
