@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
.line {
  @apply cursor-pointer hover:underline hover:underline-offset-4;
}

.transition-change {
  @apply transition-all duration-300 ease-in-out;
}


/* menu */
.menu-first-content-item {
  @apply rounded-lg border border-gray-500 flex justify-start items-center p-2;
}


/* menu secondContentArea overflow scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 1.2rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}


/* message mainContent overflow scrollbar light */
.custom-message-light-scrollbar::-webkit-scrollbar {
  width: 1.2rem;
}

.custom-message-light-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-message-light-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.custom-message-light-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
}


/* homepage typewriter */
.Typewriter__cursor--hidden {
  display: none;
}

.Typewriter__cursor--circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: currentColor;
  animation: none;
}

.Typewriter__cursor--main {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 4px;
  border-radius: 50%;
  opacity: 0;
  background-color: currentColor;
  transition: opacity 0.3s ease-in;
  animation: none;
}
